@{
    ViewData["Title"] = "Home Page";
}


<style>
    {
        font-family: 'Roboto', sans-serif;
    }

    .product-card {
        width: 28%;
        position: relative;
        box-shadow: 0 2px 7px #dfdfdf;
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 2%;
        background: #fafafa;
        float: left;
        padding: 10px;
    }

    .titulo {
        margin-top: 10px;
        text-align: center;
    }

    .product-tumb {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;

        padding: 50px;
        background: #f0f0f0;
    }

        .product-tumb img {
            width: 229px;
            height: 120px;
        }

    .product-details {
        padding: 10px;
    }

    .product-catagory {
        display: flex;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 10px;
        text-align: center;
        box-sizing: border-box;
    }

        .product-catagory span {
            margin-right: 33%;
        }

    .product-details h4 a {
        display: block;
        color: #363636;
        text-decoration: none;
        text-align: center;
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .product-details p {
        text-align: center;
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .solid-dark-button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 12px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
    }

        .solid-dark-button:hover {
            background-color: #444;
        }
</style>

<h2 style="text-align: center; font-weight: bold">Leilões Ativos</h2>

<div class="product-card">
    <div class="titulo">
        <h5>Apartamento</h5>
    </div>
    <div class="product-tumb">
        <img src="~/decoracao-apartamento-pequeno-8.jpg" alt="">
    </div>
    <div class="product-details">
        <div class="product-catagory">
            <span>T3</span>
            <span>1500m²</span>
            <span>Braga</span>
        </div>
        <h4><a>Preço Atual: 500 000,00 €</a></h4>
        <p>Termina em 3d 23h 50m 03s</p>
        <div>
            <button class="solid-dark-button">Licite agora</button>
        </div>
    </div>
</div>
<div class="product-card">
    <div class="titulo">
        <h5>Apartamento</h5>
    </div>
    <div class="product-tumb">
        <img src="~/decoracao-apartamento-pequeno-8.jpg" alt="">
    </div>
    <div class="product-details">
        <div class="product-catagory">
            <span>T3</span>
            <span>1500m²</span>
            <span>Braga</span>
        </div>
        <h4><a>Preço Atual: 500 000,00 €</a></h4>
        <p>Termina em 3d 23h 50m 03s</p>
        <div>
            <button class="solid-dark-button">Licite agora</button>
        </div>
    </div>
</div>
<div class="product-card">
    <div class="titulo">
        <h5>Apartamento</h5>
    </div>
    <div class="product-tumb">
        <img src="~/decoracao-apartamento-pequeno-8.jpg" alt="">
    </div>
    <div class="product-details">
        <div class="product-catagory">
            <span>T3</span>
            <span>1500m²</span>
            <span>Braga</span>
        </div>
        <h4><a>Preço Atual: 500 000,00 €</a></h4>
        <p>Termina em 3d 23h 50m 03s</p>
        <div>
            <button class="solid-dark-button">Licite agora</button>
        </div>
    </div>
</div>