@model UserModel

<style>
    * {
      border: 0;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      background: rgb(250, 250, 250) url(http://lorempixel.com/1920/1080/nature/);
      font-family: Lato, Helvetica, Arial, sans-serif;
    }

    a {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      text-decoration: none;
    }


/*======================================================
                          Navbar
  ======================================================*/
    #navbar {
      background: white;
      color: rgb(13, 26, 38);
      position: static;
      top: 0;
      height: 50px;
      line-height: 50px;
      width: 100vw;
      z-index: 10;
    }

    .nav-wrapper {
      margin: auto;
      text-align: center;
      width: 70%;
        } 


    .logo {
      float: left;
      margin-left: 28px;
      font-size: 1.5em;
      height: 30px;
      letter-spacing: 1px;
      text-transform: uppercase;
      }

    #navbar ul {
      display: inline-block;
      float: right;
      list-style: none;
      /* margin-right: 14px; */
      margin-top: -2px;
      text-align: right;
      transition: transform 0.5s ease-out;
      -webkit-transition: transform 0.5s ease-out;
        }

    #navbar li {
      display: inline-block;
    }

    #navbar li a {
      color: rgb(13, 26, 38);
      display: block;
      font-size: 0.7em;
      height: 50px;
      letter-spacing: 1px;
      margin: 0 20px;
      padding: 0 4px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
    }

    #navbar li a:hover {
      /* border-bottom: 1px solid rgb(28, 121, 184); */
      color: rgb(28, 121, 184);
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
    }

    /* Animated Bottom Line */
    #navbar li a:before, #navbar li a:after {
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      bottom: -1px;
      background: rgb(13, 26, 38);
    }

    #navbar li a:before {
      left: 0;
      transition: 0.5s;
    }

    #navbar li a:after {
      background: rgb(13, 26, 38);
      right: 0;
      /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
    }

    #navbar li a:hover:before {
      background: rgb(13, 26, 38);
      width: 100%;
      transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
    }

    #navbar li a:hover:after {
      background: transparent;
      width: 100%;
      /* transition: 0s; */
    }

    #linha-cinza {
        width: 100%;
        height: 1px;
        background-color: #ccc; /* Cor cinza */
        margin-top: 50px; /* Ajuste conforme a altura da barra de navegação */
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px #D3D3D3;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #D3D3D3;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

        ::-webkit-scrollbar-thumb:hover {
            background: #C0C0C0;
        }

</style>

<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
<nav id="navbar" class="">
    <div class="nav-wrapper">
        <!-- Navbar Logo -->
        <div class="logo">
            <!-- Logo Placeholder for Illustration -->
            <a asp-controller="Home" asp-action="Index"><img width="130px" height="auto" src="/Media/BragaLeiloesAt.png"></a>
        </div>

        <!-- Navbar Links -->
        <ul id="menu">
            @if (Model.UserEnum == Online_Auctions_LI4.enums.UserEnum.Leiloeiro || Model.UserEnum == Online_Auctions_LI4.enums.UserEnum.Admin)
            {
                <li><a asp-controller="Produto" asp-action="Index">CRIAR LEILÃO</a></li>
            }
            <!--
            -->
            <li><a asp-controller="Home" asp-action="Faq"><img src="~/Media/chat-118.png" style="width: 30px" /></a></li>
            <!--
            -->
            <li><a asp-controller="Profile" asp-action="Index"><img src="~/Media/3106773.png" style="width: 30px" /></a></li>
            <!--
            -->
            <li><a asp-controller="Login" asp-action="Sair"><img src="~/Media/sign-out-icon-3.png" style="width: 30px" /></a></li>
        </ul>
    </div>
</nav>