@model LeilaoModel
@{
    Layout = "_Layout";
}

<style>
    /* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}
 
.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
 
.left-column img.active {
  opacity: 1;
}

/*Imagem*/


/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 10px;
}
.product-description span {
  font-size: 10px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 50px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 15px;
  font-weight: 300;
  color: #86939E;
  line-height: 20px;
}

/* Product Color */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 15px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}
 
.cable-choose button {
  border: 2px solid ;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 15px;
  color: white;
  background-color: #346cb5;
  cursor: pointer;
  transition: all .5s;
}
 
.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}
 
.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
 
.cable-config a {
  text-decoration: none;
  font-size: 15px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
  font-weight: bolder;
  margin-left: 10px;
}
 
.cable-config a:before {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}
 
.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}
 
.cart-btn {
  display: inline-block;
  background-color: #9fa5ab;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  margin-left: 20px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: black;
}
textarea {
  width: 100%;
  height: 40px;
  padding: 7px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }
 
  .left-column,
  .right-column {
    width: 100%;
  }
 
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
 
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}


</style>

<main class="container">

    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img data-image="black" src="images/black.png" alt="">
      <img data-image="blue" src="images/blue.png" alt="">
      <img data-image="red" class="active" src="images/red.png" alt="">
    </div>


    <!-- Right Column -->
    <div class="right-column">

      <!-- Product Description -->
      <div class="product-description">
        <h1>Apartamento T1</h1>
        <h4>Rua Monte da Costa, Campanhã, 4350-414 Porto, Portugal </h4>
        <p class="text">Apartamento T1 com casa de banho, cozinha completa e varanda. O edifício oferece comodidades como sala de
          reuniões, lavandaria, garagem, espaço com piscina exterior e ginásio. Localizado próximo ao Estádio do Dragão
          e ao Centro Comercial Alameda, com fácil acesso a atrações turísticas via metro na estação Estádio do Dragão.
        </p>
      </div>

      <!-- Product Configuration -->
      <div class="product-configuration">
        <table>
          <tr>
            <th>Tipo de Lance</th>
            <th>Valor</th>
          </tr>
          <tr>
            <td>Lance Atual</td>
            <td>295.000,00 €</td>
          </tr>
          <tr>
            <td>Lance Mínimo</td>
            <td>Lance de Abertura 250.000,00 €</td>
          </tr>
          <tr>
            <td>Termina em</td>
            <td>8d 2h 21m 56s</td>
          </tr>
        </table>
      </div>

      <!-- Cable Configuration -->
      <div class="cable-config">
        <span>Licitação rápida</span>

        <div class="cable-choose">
          <button>300.000,00$</button>
          <button>305.000,00$</button>
          <button>315.000,00$</button>
        </div>


        <div class="licitaçao">
          <span>Licitação direta</span>
          <div class="product-price">
            <textarea class="textarea" asp-for="Descricao" required placeholder="Valor $"></textarea>
            <a  class="cart-btn">Licitação</a>
          </div>
        </div>

      </div>

  </main>