@model List<ProdutoModel>
@{
    ViewData["Tittle"] = "Index";
}

<style>

    .top {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
    }

        .top a {
            background-color: black;
            color: white;
            padding: 8px 8px;
            border-radius: 10px;
        }
</style>

<div class="top">
    <h1>Os Seus Produtos</h1>
    <a asp-controller="Produto" asp-action="CriarProduto">ADICIONAR PRODUTOS +</a>

</div>

@foreach (var produto in Model)
{
    <p>Nome do Produto: @produto.Descricao</p>
    <p>Preço do Produto: @produto.PrecoBase</p>
}